<div class="row m-3">
  <div class="col-4">
    <div class="card">
      <div class="card-header text-center"><h2>Clientes</h2></div>
      <div class="card-body text-center">
        <h2>32 Clientes</h2>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header text-center"><h2>Produtos</h2></div>
      <div class="card-body text-center"><h2>122 Produtos</h2></div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header text-center"><h2>Serviços</h2></div>
      <div class="card-body text-center"><h2>5 serviços cadastrados</h2></div>
    </div>
  </div>
  <div class="col-4 mt-4">
    <div class="card">
      <div class="card-header text-center"><h2>Usuários</h2></div>
      <div class="card-body text-center"><h2>5 usuários</h2></div>
    </div>
  </div>
</div>
