<form class="mt-5" style="width: 500px; margin-left: auto; margin-right: auto">
  <div class="card">
    <div
      class="card card-header bg-primary text-white text-center"
      style="font-size: x-large"
    >
      <span style="display: flex; justify-content: center; align-items: center">
        <ion-icon
          name="person-circle-outline"
          style="font-size: 36px"
        ></ion-icon>
        <span style="margin-left: 5px"> LOGIN </span>
      </span>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label>E-mail</label>
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Digite o E-mail"
            />
          </div>
        </div>
        <div class="col-12 mt-2">
          <div class="form-group">
            <label>Senha</label>
            <input
              type="password"
              class="form-control form-control-sm"
              placeholder="Digite o senha"
            />
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary mt-3">Entrar</button>
        </div>
      </div>
    </div>
  </div>
</form>
